## 위키백과 데이터 엑셀로 저장하기

In [29]:
import pandas as pd

df = pd.read_html("https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84", header=0,
                 index_col=0)

#print(df)
df[1]

                          하계 참가 횟수  동계 참가 횟수  전체 참가 횟수
국가 (IOC 코드)
알바니아 (ALB)                       8         4        12
아메리칸사모아 (ASA)                    8         1         9
안도라 (AND)                       11        12        23
앙골라 (ANG)                        9         0         9
앤티가 바부다 (ANT)                   10         0        10
...                            ...       ...       ...
중화민국 (ROC) [ROC]                 3         0         3
자르 (SAA) [SAA]                   1         0         1
북예멘 (YAR) [YAR]                  2         0         2
에멘 인민 민주 공화국 (YMD) [YMD]         1         0         1
난민 (ROT) [ROT]                   1         0         1

[79 rows x 3 columns]

In [32]:
df = pd.read_html("https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84"
                 , header=0, index_col=0)

#print(df)
#df[0:5]
df[0:5].columns
#df.columns = ['하계참가횟수', '금', '은', '동', '계']

AttributeError: 'list' object has no attribute 'columns'

### 데이터 프레임 기초

In [34]:
import pandas as pd


index = pd.date_range('1/1/2000', periods=8)
index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [93]:
import numpy as np

#df = pd.DataFrame(np.random.rand(8, 3), index=index, columns=['A', 'B', 'C'])
df = pd.DataFrame(np.random.rand(8, 3), index=index, columns=list('ABC'))
#df
df['A']
#print(df['B'] > 0.4)

2000-01-01    0.789760
2000-01-02    0.327594
2000-01-03    0.992291
2000-01-04    0.965423
2000-01-05    0.054124
2000-01-06    0.113850
2000-01-07    0.608637
2000-01-08    0.355694
Freq: D, Name: A, dtype: float64

In [49]:
df2 = df[df['B'] > 0.4]
df2

                   A         B         C
2000-01-01  0.628109  0.856157  0.194559
2000-01-03  0.890439  0.918642  0.409450
2000-01-05  0.167882  0.765281  0.909083

In [54]:
df['D'] = df['A'] / df['B']
df
df['E'] = np.sum(df, axis=1)  # 행 우선 계산 값을 E열에 저장
df = df.sub(df['A'], axis=0)  # A열의 데이터를 기준으로 열 우선 계산(B-A, C-A)
df.head()

              A         B         C         D         E
2000-01-01  0.0  0.228048 -0.433551  0.105529  4.196816
2000-01-02  0.0 -0.505134 -0.485336  2.779666  8.535621
2000-01-03  0.0  0.028203 -0.480990  0.078860  5.485221
2000-01-04  0.0 -0.166069  0.379622  0.939881  5.975138
2000-01-05  0.0  0.597400  0.741201  0.051491  3.955354

In [56]:
df['D'] = df['A'] / df['B']
df
df['E'] = np.sum(df, axis=1)  # 행 우선 계산 값을 E열에 저장
df = df.sub(df['A'], axis=0)  # A열의 데이터를 기준으로 열 우선 계산(B-A, C-A)
df = df.div(df['C'], axis=0)  # 데이터 전체를 C열값으로 나누기
df.head()
df.to_csv('Data/test.csv')

## pandas로 인구 구조 분석하기

In [75]:
import pandas as pd

df = pd.read_csv('age.csv', encoding='cp949', index_col=0)
df.rename(columns={
    '2019년02월_계_총인구수':'총인구수', 
    '2019년02월_계_연령구간인구수':'연령구간인구수',
    }, inplace=True)
df.columns
df.head()

,총인구수,연령구간인구수,2019년02월_계_0세,2019년02월_계_1세,2019년02월_계_2세,2019년02월_계_3세,2019년02월_계_4세,2019년02월_계_5세,2019년02월_계_6세,2019년02월_계_7세,...,2019년02월_계_91세,2019년02월_계_92세,2019년02월_계_93세,2019년02월_계_94세,2019년02월_계_95세,2019년02월_계_96세,2019년02월_계_97세,2019년02월_계_98세,2019년02월_계_99세,2019년02월_계_100세 이상
행정구역,,,,,,,,,,,,,,,,,,,,,
서울특별시 (1100000000),"9,770,638","9,770,638","53,738","59,599","65,815","70,726","70,037","69,000","76,377","73,745",...,"7,199","5,374","3,972","2,927","2,813","2,260","1,565","1,180",880,"5,932"
서울특별시 종로구 (1111000000),"152,880","152,880",593,683,775,874,852,863,"1,023",904,...,163,132,112,79,69,81,53,40,39,236
서울특별시 종로구 청운효자동(1111051500),"13,010","13,010",66,79,72,98,98,94,108,109,...,9,8,14,6,7,9,4,2,2,16
서울특별시 종로구 사직동(1111053000),"9,584","9,584",43,50,64,67,67,70,94,65,...,14,5,12,6,5,8,2,5,4,17
서울특별시 종로구 삼청동(1111054000),"2,820","2,820",9,15,3,21,11,13,9,16,...,6,6,1,3,0,3,1,0,2,7

In [104]:
import pandas as pd

df = pd.read_csv('age.csv', encoding='cp949', index_col=0)
df.rename(columns={
    '2019년02월_계_총인구수':'총인구수', 
    '2019년02월_계_연령구간인구수':'연령구간인구수',
    }, inplace=True)

#df.columns
#df['총인구수']
total = []
for row in df['총인구수']:
    total.append(row.replace(',', ''))
total
df = df.div(total, axis=0)
df.head()

TypeError: unsupported operand type(s) for /: 'int' and 'str'