## 위키백과 데이터 엑셀로 저장하기

In [4]:
import pandas as pd

df = pd.read_html("https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84", header=0,
                 index_col=0)

#print(df)
df[1]

                          하계 참가 횟수  동계 참가 횟수  전체 참가 횟수
국가 (IOC 코드)
알바니아 (ALB)                       8         4        12
아메리칸사모아 (ASA)                    8         1         9
안도라 (AND)                       11        12        23
앙골라 (ANG)                        9         0         9
앤티가 바부다 (ANT)                   10         0        10
...                            ...       ...       ...
중화민국 (ROC) [ROC]                 3         0         3
자르 (SAA) [SAA]                   1         0         1
북예멘 (YAR) [YAR]                  2         0         2
에멘 인민 민주 공화국 (YMD) [YMD]         1         0         1
난민 (ROT) [ROT]                   1         0         1

[79 rows x 3 columns]

In [5]:
df = pd.read_html("https://ko.wikipedia.org/wiki/%EC%98%AC%EB%A6%BC%ED%94%BD_%EB%A9%94%EB%8B%AC_%EC%A7%91%EA%B3%84"
                 , header=0, index_col=0)

#print(df)
#df[0:5]
df.columns
#df.columns = ['하계참가횟수', '금', '은', '동', '계']

AttributeError: 'list' object has no attribute 'columns'

### 데이터 프레임 기초

In [6]:
import pandas as pd


index = pd.date_range('1/1/2000', periods=8)
index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [7]:
import numpy as np

#df = pd.DataFrame(np.random.rand(8, 3), index=index, columns=['A', 'B', 'C'])
df = pd.DataFrame(np.random.rand(8, 3), index=index, columns=list('ABC'))
#df
df['A']
#print(df['B'] > 0.4)

2000-01-01    0.917453
2000-01-02    0.160752
2000-01-03    0.954210
2000-01-04    0.883796
2000-01-05    0.203064
2000-01-06    0.485280
2000-01-07    0.383147
2000-01-08    0.900692
Freq: D, Name: A, dtype: float64

In [8]:
df2 = df[df['B'] > 0.4]
df2

                   A         B         C
2000-01-01  0.917453  0.975168  0.609267
2000-01-04  0.883796  0.411341  0.474239
2000-01-06  0.485280  0.800368  0.417319
2000-01-08  0.900692  0.423743  0.557345

In [54]:
df['D'] = df['A'] / df['B']
df
df['E'] = np.sum(df, axis=1)  # 행 우선 계산 값을 E열에 저장
df = df.sub(df['A'], axis=0)  # A열의 데이터를 기준으로 열 우선 계산(B-A, C-A)
df.head()

              A         B         C         D         E
2000-01-01  0.0  0.228048 -0.433551  0.105529  4.196816
2000-01-02  0.0 -0.505134 -0.485336  2.779666  8.535621
2000-01-03  0.0  0.028203 -0.480990  0.078860  5.485221
2000-01-04  0.0 -0.166069  0.379622  0.939881  5.975138
2000-01-05  0.0  0.597400  0.741201  0.051491  3.955354

In [56]:
df['D'] = df['A'] / df['B']
df
df['E'] = np.sum(df, axis=1)  # 행 우선 계산 값을 E열에 저장
df = df.sub(df['A'], axis=0)  # A열의 데이터를 기준으로 열 우선 계산(B-A, C-A)
df = df.div(df['C'], axis=0)  # 데이터 전체를 C열값으로 나누기
df.head()
df.to_csv('Data/test.csv')

## pandas로 인구 구조 분석하기

In [10]:
import pandas as pd

df = pd.read_csv('age.csv', encoding='cp949', index_col=0)
df.rename(columns={
    '2019년02월_계_총인구수':'총인구수', 
    '2019년02월_계_연령구간인구수':'연령구간인구수',
    }, inplace=True)
df.columns
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'age.csv'

In [104]:
import pandas as pd

df = pd.read_csv('age.csv', encoding='cp949', index_col=0)
df.rename(columns={
    '2019년02월_계_총인구수':'총인구수', 
    '2019년02월_계_연령구간인구수':'연령구간인구수',
    }, inplace=True)

#df.columns
#df['총인구수']
total = []
for row in df['총인구수']:
    total.append(row.replace(',', ''))
total
df = df.div(total, axis=0)
df.head()

TypeError: unsupported operand type(s) for /: 'int' and 'str'